<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipes Book</a>
    </div>


    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#" (click)="onSelectNav('recipe')">Recipes</a></li>
                <li><a href="#" (click)="onSelectNav('shopping-list')">Shopping List</a></li> -->
        <li routerLinkActive="active"><a routerLink="/auth" *ngIf="!isAuthenticated">Authentication</a></li>
        <li routerLinkActive="active"><a routerLink="/recipes" *ngIf="isAuthenticated">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a style="cursor: pointer;" (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
        </li>
        <li class="dropdown" appDropDown *ngIf="isAuthenticated">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onGetData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>

    </div>


  </div>
</nav>
