<div class="container">
  <div class="row">
    <div class="col-md-12">

      <form [formGroup]="recipeForm" (ngSubmit)="onSubmitRecipe()">

        <div class="row">
          <div class="col-md-10">
            <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" type="text" formControlName="name" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="imagePath">Image Url</label>
              <input id="imagePath" type="text" formControlName="imagePath" #imagePath class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <img id="imgView" [src]="imagePath.value" alt="No Image!!" height="80px" width="120px"
                class="img-responsive">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="description">Descirption</label>
              <textarea id="description" rows="2" formControlName="description" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" formArrayName="ingredients">
            <!-- <label for="ingredients">Ingredients</label> -->
            <div class="row" class="form-group" *ngFor="let ingCont of getIngredients;let i =index" [formGroupName]="i">

              <div class="col-sm-3">
                <input type="text" class="form-control" formControlName="name" placeholder="Ingredient Name">
              </div>
              <div class="col-sm-2">
                <input type="number" class="form-control" formControlName="amount" placeholder="Qty">
              </div>


              <button class="btn btn-sm btn-danger" type="button">X</button>

            </div>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-sm btn-primary" [disabled]="!recipeForm.valid"
                  (click)="onAddIng()">Add Ingredients</button>
              </div>
            </div>


          </div>
        </div>


      </form>


    </div>
  </div>
</div>
