<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <div *ngIf="isLoading" style="text-align: center;">
        <app-spinner></app-spinner>
      </div>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <div class="form-group col-xs-5">
          <label for="email">E-Mail</label>
          <input id="email" type="email" class="form-control" formControlName="email">
        </div>

        <div class="form-group col-xs-5">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" formControlName="password">
        </div>

        <div class="col-xs-12">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!authForm.valid">
            {{isLoggedIn ?'Login':'Sign Up'}}

          </button>
          |
          <button type="button" class="btn btn-sm btn-primary" (click)="onSwitchMode()">
            Switch to {{isLoggedIn? 'Sing Up':'Login' }}!
          </button>
        </div>



      </form>

    </div>

  </div>
  <div class="col-xs-3">
    <!-- <p class="alert-danger" style="text-align: center;">
      <span class="text-danger" *ngIf="errMessage">{{errMessage}}</span>
    </p> -->
    <!--Alert Modal using ngIf
       <app-alert [message]="errMessage" (close)="onAlertClose()"  *ngIf="errMessage" ></app-alert>
    -->
    <ng-container appAlertBox></ng-container>


  </div>
</div>
