<div class="row">
  <div class="col-xs-12">
    <img [src]="item.imagePath" alt="" class="img-responsive" height="50px" width="150px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1 style="font-weight: bold;">{{item.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn btn-group" appDropDown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShopList(item.ingredients)" style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" routerLink="edit">Edit Recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{item.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ings of item.ingredients">
        {{ings.name}} ( {{ings.amount}})
      </li>
    </ul>
  </div>
</div>
