<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <button class="list-group-item" style="cursor: pointer;" *ngFor="let ing of ingredients;let i=index"
        (click)="onedit(i)">
        {{ing.name}} ({{ing.amount}})
      </button>
    </ul>
  </div>
</div>
