<app-header></app-header>
<!-- (featureSelected)="onMenuChange($event)" -->
<h2>Udemy Recipe App Deployed</h2>

<!-- <app-recipes *ngIf="currentMenu==='recipe'"></app-recipes>
<app-shopping-list *ngIf="currentMenu!=='recipe'"></app-shopping-list> -->

<router-outlet></router-outlet>
