<div class="row">
  <div class="col-xs-12">
    <form (submit)="onClick(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required ngModel class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount" required pattern="^[1-9][0-9]*$" ngModel class="form-control">
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid && !isEditMode">
            {{isEditMode ?'Update' :'Add'}}
          </button>
          <button class="btn btn-danger" type="button" *ngIf="isEditMode" (click)="onDelete()">Delete</button>
          <button class="btn btn-info" type="button" (click)="onClear()">Clear</button>


        </div>
      </div>
    </form>

  </div>
</div>
